{% load static %}


<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>白沙攝影社</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/page.css" %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      	<div class="container">
	        <div class="navbar-header">
	        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="">攝影社喔</a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	        	<ul class="nav navbar-nav">
                    {% for item in navItem.navBar %}
                        {% if 1 %}
                            <li class="active"><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% else %}
                            <li class=""><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% endif %}
                    {% endfor %}
	        	</ul>
	        </div><!--/.nav-collapse -->
      	</div>
    </nav>

    <div class="container">
    	<div id="content">
	      	<div class="starter-template">
		        <h1>我終於成功了!!!!</h1>
		        <p class="lead">寫個Nav Bar寫12個小時也是不簡單啊<br> 真是他媽的臭Django</p>
	      	</div>
	    </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery-2.2.1.min.js" %}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
